.message_is_author {
  background-color: var(--accent-bg-color);
  border-radius: 12px;
  padding: 10px;
}

.message_is_not_author {
  background-color: @theme_bg_color;
  border-radius: 12px;
  padding: 10px;
}

.message_reply_label {
  font-size: 12px;
  color: lightgray;
}
