Source: chatenium-on-linux-adwaita
Section: gnome
Priority: optional
Maintainer: Chatenium <personal@alms.hu>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 python3-all,
 meson,
 ninja-build,
 python3-pytest
Standards-Version: 4.6.2
Homepage: https://chtn.hu
Vcs-Browser: https://github.com/chatenium/Chatenium-On-Linux-Adwaita
Vcs-Git: ps://github.com/chatenium/Chatenium-On-Linux-Adwaita.git

Package: chatenium-on-linux-adwaita
Architecture: all
Depends:
 python3-chatenium-uniend,
 ${python3:Depends},
 ${misc:Depends}
Description: Chatenium client made for GNOME
